{% if interfaces %}
! Interface Configuration
config t
ipv6 unicast-routing
{% for intf in interfaces %}
interface {{ intf.name }}
{% if intf.switchport_mode == 'access' %}
 switchport
 switchport access vlan {{ intf.vlan }}
{% elif intf.switchport_mode == 'trunk' %}
 switchport mode trunk
 switchport trunk allowed vlan all
{% elif intf.switchport_mode == 'no' %}
 no switchport
{% else %}
 ! No switchport mode defined
{% endif %}

{% if intf.ipv4 %}
 ip address {{ intf.ipv4 }}
{% endif %}

{% if intf.ipv6 %}
 ipv6 address {{ intf.ipv6 }}
 {% if intf.ipv6_ospf %}
  ipv6 ospf 1 area {{ intf.ipv6_area }}
 {% endif %}
{% endif %}

{% endfor %}
end
{% else %}
! No interface configuration
{% endif %}
