{% if routing.rip is defined and routing.rip.enabled %}
! RIP Configuration
config t
router rip
{% for net in routing.rip.networks %}
 network {{ net }}
{% endfor %}
{% if routing.rip.redistribute_ospf %}
 redistribute ospf
{% endif %}
ip routing
 no shutdown
end
{% else %}
! RIP not configured
{% endif %}
