{% if routing.rip is defined and routing.rip.enabled %}
! RIP Configuration
config t
ip routing
router rip
{% for net in routing.rip.networks %}
 network {{ net }}
{% endfor %}
{% if routing.rip.redistribute_ospf %}
 redistribute ospf
 redistribute ospf match external
 redistribute ospf match internal
{% endif %}
no shutdown
end
{% else %}
! RIP not configured
{% endif %}
